{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1">Home</h1>

        <p>"This is a comprehensive task management tool that allows users to create, organize, edit, and delete tasks with ease. Whether you're managing personal to-do lists or coordinating team projects, streamlines the process with an intuitive interface and powerful features. Stay on top of your responsibilities by adding new tasks, updating existing ones, and removing completed or irrelevant tasks. Get organized, boost your productivity, and keep track of what matters most with this app."</p>
    </section>

    <div class="text-center">
        <a class="btn btn-secondary" href="/signin">
            Signin
        </a>
        <a class="btn btn-dark" href="/signup">
            Signup
        </a>
    </div>

</main>
{% endblock %}